<%#= @vehicle %>

<!-- app/views/home/sign_up.html.erb -->
<div class="mainContent">
  <div class="grid">
    <h1 class="largeHeader">Sign up New Car</h1>
    <div class="col_1">
      <form class="signupForm"  action="<%= save_vehicle_path %>" method="post">
        <label for="name">id</label><br>
        <input class="shortInput" id="id" name="id" type="text"><br>
        <div class="col_4">
          <input type="submit" ></input>
        </div>
      </form>
    </div>
  </div>
</div>



